<ion-header>
  <ion-navbar>
    <ion-title>{{prog.name}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-card>
    <img [src]="prog.widebanner" />
    <div class="card-title">{{prog.name}} </div>
    <div class="card-subtitle">{{prog.venue}}</div>
    <ion-card-content>
      <p [innerHtml]="prog.description">
      </p>
    </ion-card-content>
    <ion-item>
      <ion-icon name="ribbon" item-start large></ion-icon>
      <h2>{{prog.name}}</h2>
      <p>{{prog.venue}}</p>
    </ion-item>
    <ion-item>
      <ion-icon name="school" item-left large></ion-icon>
      <h2>{{prog.venue}}</h2>
    </ion-item>
  </ion-card>
  <ion-list *ngIf="buttonStatus == 'View Sessions'">
    <ion-list-header>
      <h2>Session</h2>
    </ion-list-header>
    <button ion-item *ngFor="let i of [1,2,3,4,5,6,7]" (click)="viewSessions()">
      <ion-icon name="ribbon" item-start></ion-icon>
      Session {{i}}
    </button>
  </ion-list>
  <button ion-button full [attr.disabled]="buttonStatus == 'View Sessions'?null:'disabled'" > Download Course material 1</button>
  <button ion-button full [attr.disabled]="buttonStatus == 'View Sessions'?null:'disabled'  "> Download Course material 2</button>
</ion-content>
<ion-footer>
    <ion-toolbar color="light">
      <button ion-button full *ngIf="buttonStatus=='View Sessions'"  >
          <div>Take Test</div>
      </button>
      <button ion-button full *ngIf="buttonStatus=='Join Program'" (click)="pay(prog)">
          <div>{{buttonStatus}}</div>
      </button>
      <button ion-button full *ngIf="buttonStatus=='Waiting Admins Approval'" (click)="pay(prog)">
          <div>{{buttonStatus}}</div>
      </button>
    </ion-toolbar>
</ion-footer>