<ion-header>
  <ion-navbar>
		<ion-buttons left>
      
      
    </ion-buttons>
		<ion-title>
      Time:{{minute}} mm: {{seconds}} ss
    </ion-title>
  	<ion-buttons end>
      <button ion-button icon-only (click)="answered()">
        <ion-icon name="close-circle"></ion-icon>
      </button>		
      <button ion-button icon-only (click)="showrules()">
        <ion-icon name="information-circle"></ion-icon>
      </button>
    </ion-buttons>
		</ion-navbar>
</ion-header>
    

<ion-content padding>
<ion-card>
  <ion-card-header>
    Questions
  </ion-card-header>

  <ion-list>
    <button  [color]="(i.sele != '')?'secondary':''" ion-item *ngFor="let i of questions" (click)="openQuestion(i)">
      <ion-icon name="arrow-dropright-circle"></ion-icon>
       Question number {{i.id}}  
    </button>
  </ion-list>
</ion-card> 
</ion-content>
<ion-footer>
  	<button color="secondary" *ngIf="startTest" ion-button full > Submit Test </button>
    <button  color="primary" ion-button full *ngIf="!startTest" (click)="startTimer()" > Start Test </button>
</ion-footer>